In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
from IPython.display import Image
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [17]:
dat1 =pd.read_csv('WHO-COVID-19-global-data (1).csv')
dat1.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [18]:
dat2=dat1[['Date_reported', 'New_cases', 'Country']]

In [19]:
ddf = dat2[dat2['Country']=='Portugal']

In [20]:
cases1 = np.array(ddf['New_cases'])

In [21]:
np.array(dat2['Date_reported'])

array(['2020-01-03', '2020-01-04', '2020-01-05', ..., '2022-09-18',
       '2022-09-19', '2022-09-20'], dtype=object)

In [48]:
dfframe =pd.DataFrame(data = cases1, index=np.array(ddf['Date_reported']))
dfframe.to_csv('Portugal.csv')

### Making the data Horizontal

In [40]:
dat =pd.read_csv('Brazil.csv')
dat.head()

   Unnamed: 0  0
0  2020-01-03  0
1  2020-01-04  0
2  2020-01-05  0
3  2020-01-06  0
4  2020-01-07  0

In [41]:
date = dat["Unnamed: 0"]
new_cases = dat["0"]

In [42]:
data1 = pd.DataFrame(data = [np.array(new_cases)], columns = date)

In [43]:
data1.to_csv('Omicron_Brazil.csv')

### Cumulative data

In [11]:
data =pd.read_csv("Cun_P.csv")
data.head()

   Unnamed: 0     0
0  11/29/2021  2476
1  11/30/2021  1476
2   12/1/2021  3330
3   12/2/2021  4486
4   12/3/2021  2534

In [12]:
cases11 = np.array(data['0'])

In [13]:
casess = np.cumsum(cases11[::])[::]

In [14]:
np.array(data['Unnamed: 0'])

array(['11/29/2021', '11/30/2021', '12/1/2021', '12/2/2021', '12/3/2021',
       '12/4/2021', '12/5/2021', '12/6/2021', '12/7/2021', '12/8/2021',
       '12/9/2021', '12/10/2021', '12/11/2021', '12/12/2021',
       '12/13/2021', '12/14/2021', '12/15/2021', '12/16/2021',
       '12/17/2021', '12/18/2021', '12/19/2021', '12/20/2021',
       '12/21/2021', '12/22/2021', '12/23/2021', '12/24/2021',
       '12/25/2021', '12/26/2021', '12/27/2021', '12/28/2021',
       '12/29/2021', '12/30/2021', '12/31/2021', '1/1/2022', '1/2/2022',
       '1/3/2022', '1/4/2022', '1/5/2022', '1/6/2022', '1/7/2022',
       '1/8/2022', '1/9/2022', '1/10/2022', '1/11/2022', '1/12/2022',
       '1/13/2022', '1/14/2022', '1/15/2022', '1/16/2022', '1/17/2022',
       '1/18/2022', '1/19/2022', '1/20/2022', '1/21/2022', '1/22/2022',
       '1/23/2022', '1/24/2022', '1/25/2022', '1/26/2022', '1/27/2022',
       '1/28/2022', '1/29/2022', '1/30/2022', '1/31/2022', '2/1/2022',
       '2/2/2022', '2/3/2022', '2/4/2022', '2/5/2022', '2/6/2022',
       '2/7/2022', '2/8/2022', '2/9/2022', '2/10/2022', '2/11/2022',
       '2/12/2022', '2/13/2022', '2/14/2022', '2/15/2022', '2/16/2022',
       '2/17/2022', '2/18/2022', '2/19/2022', '2/20/2022', '2/21/2022',
       '2/22/2022', '2/23/2022', '2/24/2022', '2/25/2022', '2/26/2022',
       '2/27/2022', '2/28/2022', '3/1/2022', '3/2/2022', '3/3/2022',
       '3/4/2022', '3/5/2022', '3/6/2022', '3/7/2022', '3/8/2022',
       '3/9/2022', '3/10/2022', '3/11/2022', '3/12/2022', '3/13/2022',
       '3/14/2022', '3/15/2022', '3/16/2022', '3/17/2022', '3/18/2022',
       '3/19/2022', '3/20/2022', '3/21/2022', '3/22/2022', '3/23/2022',
       '3/24/2022', '3/25/2022', '3/26/2022', '3/27/2022', '3/28/2022',
       '3/29/2022', '3/30/2022', '3/31/2022', '4/1/2022', '4/2/2022',
       '4/3/2022', '4/4/2022', '4/5/2022', '4/6/2022', '4/7/2022',
       '4/8/2022', '4/9/2022', '4/10/2022', '4/11/2022', '4/12/2022',
       '4/13/2022', '4/14/2022', '4/15/2022', '4/16/2022', '4/17/2022',
       '4/18/2022', '4/19/2022', '4/20/2022', '4/21/2022', '4/22/2022',
       '4/23/2022', '4/24/2022', '4/25/2022', '4/26/2022', '4/27/2022',
       '4/28/2022', '4/29/2022', '4/30/2022', '5/1/2022', '5/2/2022',
       '5/3/2022', '5/4/2022', '5/5/2022', '5/6/2022', '5/7/2022',
       '5/8/2022', '5/9/2022', '5/10/2022', '5/11/2022', '5/12/2022',
       '5/13/2022', '5/14/2022', '5/15/2022', '5/16/2022', '5/17/2022',
       '5/18/2022', '5/19/2022', '5/20/2022', '5/21/2022', '5/22/2022',
       '5/23/2022', '5/24/2022', '5/25/2022', '5/26/2022', '5/27/2022',
       '5/28/2022', '5/29/2022', '5/30/2022', '5/31/2022', '6/1/2022',
       '6/2/2022', '6/3/2022', '6/4/2022', '6/5/2022', '6/6/2022',
       '6/7/2022', '6/8/2022', '6/9/2022', '6/10/2022', '6/11/2022',
       '6/12/2022', '6/13/2022', '6/14/2022', '6/15/2022', '6/16/2022',
       '6/17/2022', '6/18/2022', '6/19/2022', '6/20/2022', '6/21/2022',
       '6/22/2022', '6/23/2022', '6/24/2022', '6/25/2022', '6/26/2022',
       '6/27/2022', '6/28/2022', '6/29/2022', '6/30/2022', '7/1/2022',
       '7/2/2022', '7/3/2022', '7/4/2022', '7/5/2022', '7/6/2022',
       '7/7/2022', '7/8/2022', '7/9/2022', '7/10/2022', '7/11/2022',
       '7/12/2022', '7/13/2022', '7/14/2022', '7/15/2022', '7/16/2022',
       '7/17/2022', '7/18/2022', '7/19/2022', '7/20/2022', '7/21/2022',
       '7/22/2022', '7/23/2022', '7/24/2022', '7/25/2022', '7/26/2022',
       '7/27/2022', '7/28/2022', '7/29/2022', '7/30/2022', '7/31/2022',
       '8/1/2022', '8/2/2022', '8/3/2022', '8/4/2022', '8/5/2022',
       '8/6/2022', '8/7/2022', '8/8/2022', '8/9/2022', '8/10/2022',
       '8/11/2022', '8/12/2022', '8/13/2022', '8/14/2022', '8/15/2022',
       '8/16/2022', '8/17/2022', '8/18/2022', '8/19/2022', '8/20/2022',
       '8/21/2022', '8/22/2022', '8/23/2022', '8/24/2022', '8/25/2022',
       '8/26/2022', '8/27/2022', '8/28/2022', '8/29/2022', '8/30/2022',
       '8/31/2022', '9/1/2022', '9/2/2022', '9/3/2022', '9/4/2022',
       '9/5/2022', '9/6/2022', '9/7/2022', '9/8/2022', '9/9/2022',
       '9/10/2022', '9/11/2022', '9/12/2022', '9/13/2022', '9/14/2022',
       '9/15/2022', '9/16/2022', '9/17/2022', '9/18/2022', '9/19/2022',
       '9/20/2022', '4/12/2022', '4/13/2022', '4/14/2022', '4/15/2022',
       '4/16/2022', '4/17/2022', '4/18/2022', '4/19/2022', '4/20/2022',
       '4/21/2022', '4/22/2022', '4/23/2022', '4/24/2022', '4/25/2022',
       '4/26/2022', '4/27/2022', '4/28/2022', '4/29/2022', '4/30/2022',
       '5/1/2022', '5/2/2022', '5/3/2022', '5/4/2022', '5/5/2022',
       '5/6/2022', '5/7/2022', '5/8/2022', '5/9/2022', '5/10/2022',
       '5/11/2022', '5/12/2022', '5/13/2022', '5/14/2022', '5/15/2022',
       '5/16/2022', '5/17/2022', '5/18/2022', '5/19/2022', '5/20/2022',
       '5/21/2022', '5/22/2022', '5/23/2022', '5/24/2022', '5/25/2022',
       '5/26/2022', '5/27/2022', '5/28/2022', '5/29/2022', '5/30/2022',
       '5/31/2022', '6/1/2022', '6/2/2022', '6/3/2022', '6/4/2022',
       '6/5/2022', '6/6/2022', '6/7/2022', '6/8/2022', '6/9/2022',
       '6/10/2022', '6/11/2022', '6/12/2022', '6/13/2022', '6/14/2022',
       '6/15/2022', '6/16/2022', '6/17/2022', '6/18/2022', '6/19/2022',
       '6/20/2022', '6/21/2022', '6/22/2022', '6/23/2022', '6/24/2022',
       '6/25/2022', '6/26/2022', '6/27/2022', '6/28/2022', '6/29/2022',
       '6/30/2022', '7/1/2022', '7/2/2022', '7/3/2022', '7/4/2022',
       '7/5/2022', '7/6/2022', '7/7/2022', '7/8/2022', '7/9/2022',
       '7/10/2022', '7/11/2022', '7/12/2022', '7/13/2022', '7/14/2022',
       '7/15/2022', '7/16/2022', '7/17/2022', '7/18/2022', '7/19/2022',
       '7/20/2022', '7/21/2022', '7/22/2022', '7/23/2022', '7/24/2022',
       '7/25/2022', '7/26/2022', '7/27/2022', '7/28/2022', '7/29/2022',
       '7/30/2022', '7/31/2022', '8/1/2022', '8/2/2022', '8/3/2022',
       '8/4/2022', '8/5/2022', '8/6/2022', '8/7/2022', '8/8/2022',
       '8/9/2022', '8/10/2022', '8/11/2022', '8/12/2022', '8/13/2022',
       '8/14/2022', '8/15/2022', '8/16/2022', '8/17/2022', '8/18/2022',
       '8/19/2022', '8/20/2022', '8/21/2022', '8/22/2022', '8/23/2022',
       '8/24/2022', '8/25/2022', '8/26/2022', '8/27/2022', '8/28/2022',
       '8/29/2022', '8/30/2022', '8/31/2022', '9/1/2022', '9/2/2022',
       '9/3/2022', '9/4/2022', '9/5/2022', '9/6/2022', '9/7/2022',
       '9/8/2022', '9/9/2022', '9/10/2022', '9/11/2022', '9/12/2022',
       '9/13/2022', '9/14/2022', '9/15/2022', '9/16/2022', '9/17/2022',
       '9/18/2022', '9/19/2022', '9/20/2022'], dtype=object)

In [6]:
dfframe =pd.DataFrame(data = casess, index=np.array(data['Unnamed: 0']))
dfframe.to_csv('Cun_PP.csv')

### making the cummulative vertical

In [16]:
dat =pd.read_csv('Cun_PP.csv')
dat.head()

   Unnamed: 0      0
0  11/29/2021   2476
1  11/30/2021   3952
2   12/1/2021   7282
3   12/2/2021  11768
4   12/3/2021  14302

In [17]:
date = dat["Unnamed: 0"]
new_cases = dat["0"]

In [18]:
data1 = pd.DataFrame(data = [np.array(new_cases)], columns = date)

In [19]:
data1.to_csv('C_P.csv')